<main>
        
  <section class="how-to-order">
      <div class="container">
          <div class="process-header">
              <h4>The Process</h4>
              <h1>How to order</h1>
              <p>At Custom Merch we make the process of ordering custom garments as simple and straightforward as possible. Follow our simple guide and let us take care of the rest.</p>
          </div>
          <div class="info-section">
              <div class="info-item">
                  <div class="icon-container">
                      <i class="fas fa-tshirt icon"></i>
                  </div>
                  <div class="text-container">
                  <h3>Select your garment</h3>
                  <p>Choose from a wide range of blank garments by selecting your style, color, size, and quantity. Even if you're unsure, provide the garment type and approximate quantity for an initial quote. We offer various styles and price points through trusted suppliers and are happy to assist if needed.</p>
              </div>
              </div>
              <div class="info-item">
                  <div class="icon-container">
                      <i class="fas fa-clipboard icon"></i>
                  </div>
                  <div class="text-container">
                      <h3>Fill out our handy quote form</h3>
                      <p>Submit your details using one of our quote forms. Choose the detailed form if you know the exact products, quantities, and sizes, or use the quick quote form for basic information.</p>
                  </div>
              </div>
              <div class="info-item">
                  <div class="icon-container">
                      <i class="fas fa-upload icon"></i>
                  </div>
                  <div class="text-container">
                      <h3>Upload your artwork</h3>
                      <p>Check our artwork guide for print file specs. We prefer Vector files (Illustrator, EPS, PDF) for best quality, but if you're unsure, send what you have and our designers will assist. We offer free basic design services, with complex work charged at a basic rate. Upload files up to 20MB via our quote forms; use WeTransfer for larger files.</p>
                  </div>
              </div>
            
          </div>
      </div>
  </section>
  <section class="our-turn">
      <div class="containers">
          <div class="turn-header">
              <h4>Now it’s our turn...</h4>
              <h1>What we do next</h1>
              <p>Once we have your artwork and all the details, one of our team members will get straight back to you.</p>
          </div>
          <div class="turn-sections">
              <div class="turn-info-item">
                  <div class="turn-icon-container ">
                      <i class="fas fa-paint-brush turn-icon"></i>
                  </div>
                  <div class="text-container">
                      <h3>Mockup</h3>
                      <p>We provide a digital mockup of your order on your chosen garment, including color variants if needed.</p>
                  </div>
              </div>
              <div class="turn-info-item">
                  <div class="turn-icon-container ">
                      <i class="fas fa-file-alt turn-icon"></i>
                  </div>
                  <div class="text-container">
                      <h3>Fast Quote</h3>
                      <p>We offer a quick, competitive quote based on your details to reduce costs.</p>
                  </div>
              </div>
              <div class="turn-info-item">
                  <div class="turn-icon-container">
                      <i class="fas fa-box-open turn-icon"></i>
                  </div>
                  <div class="text-container">
                      <h3>Sample</h3>
                      <p>For a small fee, we can provide a blank or printed physical sample to qualify your approval.</p>
                  </div>
              </div>
              <div class="turn-info-item">
                  <div class="turn-icon-container ">
                      <i class="fas fa-print turn-icon"></i>
                  </div>
                  <div class="text-container">
                      <h3>Print</h3>
                      <p>After approving the mockup and making payment, your order goes into production, typically within 1-5 working days.</p>
                  </div>
              </div>
              <div class="turn-info-item">
                  <div class="turn-icon-container">
                      <i class="fas fa-truck turn-icon"></i>
                  </div>
                  <div class="text-container">
                      <h3>Ship</h3>
                      <p>After printing, we check and pack your order, then ship it via our trusted courier for delivery to your door.</p>
                  </div>
              </div>
          </div>
          <button routerLink="/quote/quickQuote" class="quote-button" >Get a quote</button>
      </div>
  </section>
</main>