:root {
  --primary: #7E22CE;
  --secondary: #A088B1;
  --background: #3A2A46;
  --text: #FFF5FF;
}

.dashboard-container {
  display: flex;
  height: 100vh;
}

.dashboard-container.sidebar-collapsed .main-content {
  margin-left: 64px;
}

.sidebar {
  background-color: var(--background);
  color: var(--text);
  width: 250px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  overflow-x: hidden;
  transition: width 0.3s ease;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.sidebar .sidebar-header {
  height: 64px;
  display: flex;
  align-items: center;
  padding: 0 16px;
  /* background-color: var(--primary); */
}

.sidebar .sidebar-header .logo {
  height: 32px;
  margin-right: auto;
}

.sidebar .sidebar-header .toggle-btn {
  background: none;
  border: none;
  color: var(--text);
  cursor: pointer;
  width: 32px;
  height: 32px;
  padding: 0;
  border-radius: 8px;
  transition: background-color 0.2s;
}

.sidebar .sidebar-header .toggle-btn:hover {
  background-color: rgba(255, 245, 255, 0.1);
}

.sidebar .sidebar-header .toggle-btn i {
  font-size: 18px;
}

.sidebar.collapsed {
  width: 64px;
}

.sidebar.collapsed .nav-text {
  opacity: 0;
  visibility: hidden;
}

.nav-menu {
  padding: 16px 0;
}

.nav-item {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  text-decoration: none;
  color: var(--secondary);
  transition: all 0.2s ease;
  margin: 4px 8px;
  border-radius: 8px;
}

.nav-item i {
  width: 24px;
  font-size: 18px;
  text-align: center;
}

.nav-item .nav-text {
  margin-left: 16px;
  transition: opacity 0.2s ease, visibility 0.2s ease;
}

.nav-item:hover {
  background-color: rgba(126, 34, 206, 0.1);
  color: var(--text);
  transform: translateX(4px);
}

.nav-item.active-link {
  background-color: var(--primary);
  color: var(--text);
  box-shadow: 0 4px 8px rgba(126, 34, 206, 0.2);
}

.nav-item.active-link:hover {
  transform: none;
}

.main-content {
  margin-left: 250px;
  padding: 24px;
  width: 100%;
  transition: margin-left 0.3s ease;
  background-color: #f8f9fa;
}

@media (max-width: 768px) {
  .sidebar {
    width: 64px;
    z-index: 1000;
  }

  .sidebar.expanded {
    width: 250px;
  }

  .main-content {
    margin-left: 64px;
  }
}
