<div class="mobile-menu">
    <i class="fas fa-bars"></i>
  </div>

  <div class="sidebar">
    <div class="logo">Admin Panel</div>
    <div class="nav-item active" data-section="categories">
      <i class="fas fa-folder-open"></i> Categories
    </div>
    <div class="nav-item" data-section="products">
      <i class="fas fa-box"></i> Products
    </div>
  </div>

  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta reiciendis totam dignissimos mollitia corporis corrupti nobis harum, impedit quod ullam culpa laborum magnam!</p>