<main>
  <form [formGroup]="detailQuoteForm" (ngSubmit)="onSubmit()" >
    <!-- enctype="multipart/form-data" -->
    <h1>DETAIL QUOTE</h1>
    <p class="first-para">ORDER FORM</p>

    <div class="form-container">
      <div class="details-section">
        <h2>DETAILS</h2>
        <div class="form-row">
          <div class="form-group half-width">
            <label for="firstName">First Name</label>
            <input type="text" id="firstName" formControlName="firstName" placeholder="First Name" />
          </div>
          <div class="form-group half-width">
            <label for="lastName">Last Name</label>
            <input type="text" id="lastName" formControlName="lastName" placeholder="Last Name" />
          </div>
        </div>
        <div class="form-group">
          <label for="company">Company</label>
          <input type="text" id="company" formControlName="companyName" placeholder="Company Name" />
        </div>
        <div class="form-row">
          <div class="form-group half-width">
            <label for="email">Email</label>
            <input type="email" id="email" formControlName="email" placeholder="Email" />
          </div>
          <div class="form-group half-width">
            <label for="phone">Phone</label>
            <input type="tel" id="phone" formControlName="phone" placeholder="Phone number" />
          </div>
        </div>
        <div class="form-group">
          <label for="streetAddress">Street Address</label>
          <input type="text" id="streetAddress" formControlName="address" placeholder="Address" />
        </div>
        <div class="form-row">
          <div class="form-group half-width">
            <label for="city">City</label>
            <input type="text" id="city" formControlName="city" placeholder="City" />
          </div>
          <div class="form-group half-width">
            <label for="state">State</label>
            <input type="text" id="state" formControlName="state" placeholder="State" />
          </div>
        </div>
        <div class="form-row">
          <div class="form-group half-width">
            <label for="country">Country</label>
            <input type="text" id="country" formControlName="country" placeholder="Country" />
          </div>
          <div class="form-group half-width">
            <label for="zipcode">Postcode</label>
            <input type="text" id="zipcode" formControlName="zipcode" placeholder="Zipcode or postal code" />
          </div>
        </div>
      </div>

      <!-- Order Forms Section -->
      <div formArrayName="orderForms">
      <div class="order-info-section" *ngFor="let orderForm of orderForms.controls; let i = index" [formGroupName]="i">
        <div class="order-info-header">
          <h2>ORDER INFO</h2>
          <p class="order-details">Order Details {{ i + 1 }}<br />see our full range here</p>
        </div>

        <div class="form-row-details">
          <div class="form-group third-width">
            <label for="brand">Brand</label>
            <input type="text" formControlName="brand" placeholder="Brand" />
          </div>
          <div class="form-group third-width">
            <label for="styleName">Gender</label>
            <input type="text" formControlName="gender" placeholder="Gender" />
          </div>
          <div class="form-group third-width">
            <label for="color">Color</label>
            <input type="text" formControlName="color" placeholder="Color" />
          </div>
        </div>

        <div formGroupName="sizeQuantity">
          <div class="form-row">
            <div class="form-group third-width">
              <label for="S-6">Size-Quantity S-6</label>
              <input type="text" formControlName="S-6" placeholder="S-6 Quantity" />
            </div>
            <div class="form-group third-width">
              <label for="S-8">S-8</label>
              <input type="text" formControlName="S-8" placeholder="S-8 Quantity" />
            </div>
            <div class="form-group third-width">
              <label for="M-10">M-10</label>
              <input type="text" formControlName="M-10" placeholder="M-10 Quantity" />
            </div>
          </div>
  
          <div class="form-row">
            <div class="form-group third-width">
              <label for="L-12">L-12</label>
              <input type="text" formControlName="L-12" placeholder="L-12 Quantity" />
            </div>
            <div class="form-group third-width">
              <label for="XL-14">XL-14</label>
              <input type="text" formControlName="XL-14" placeholder="XL-14 Quantity" />
            </div>
            <div class="form-group third-width">
              <label for="2XL-16">2XL-16</label>
              <input type="text" formControlName="2XL-16" placeholder="2XL-16 Quantity" />
            </div>
          </div>
  
          <div class="form-row">
            <div class="form-group third-width">
              <label for="3XL-18">3XL-18</label>
              <input type="text" formControlName="3XL-18" placeholder="3XL-18 Quantity" />
            </div>
            <div class="form-group third-width">
              <label for="4XL-20">4XL-20</label>
              <input type="text" formControlName="4XL-20" placeholder="4XL-20 Quantity" />
            </div>
            <div class="form-group third-width">
              <label for="5XL-22">5XL-22</label>
              <input type="text" formControlName="5XL-22" placeholder="5XL-22 Quantity" />
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group half-width">
            <label for="frontArtwork">Artwork Upload <br>Front</label>
            <input type="file" [id]="'frontArtwork' + i" (change)="onFileChange($event, 'frontArtwork', i)" class="file-input" accept="image/*" />
            <label [for]="'frontArtwork' + i" class="file-label">Select files</label>
            <div class="image-preview">
              <img *ngIf="orderForm.get('frontArtworkPreview')?.value" [src]="orderForm.get('frontArtworkPreview')?.value" alt="Front Artwork Preview" />
            </div>
          </div>
          <div class="form-group half-width">
            <label for="backArtwork"><br>Back</label>
            <input type="file" [id]="'backArtwork' + i" (change)="onFileChange($event, 'backArtwork', i)" class="file-input" accept="image/*"/>
            <label [for]="'backArtwork' + i" class="file-label">Select files</label>
            <div class="image-preview">
              <img *ngIf="orderForm.get('backArtworkPreview')?.value" [src]="orderForm.get('backArtworkPreview')?.value" alt="Back Artwork Preview" />
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group half-width">
            <label for="lhSleeve">LH Sleeve</label>
            <input type="file" [id]="'lhSleeve' + i" (change)="onFileChange($event, 'lhSleeve', i)" class="file-input" accept="image/*">
            <label [for]="'lhSleeve' + i" class="file-label">Select files</label>
            <div class="image-preview">
              <img *ngIf="orderForm.get('lhSleevePreview')?.value" [src]="orderForm.get('lhSleevePreview')?.value" alt="LH Sleeve Artwork Preview" />
            </div>
          </div>
        
          <div class="form-group half-width">
            <label for="rhSleeve">RH Sleeve</label>
            <input type="file" [id]="'rhSleeve' + i" (change)="onFileChange($event, 'rhSleeve', i)" class="file-input" accept="image/*">
            <label [for]="'rhSleeve' + i" class="file-label">Select files</label>
            <div class="image-preview">
              <img *ngIf="orderForm.get('rhSleevePreview')?.value" [src]="orderForm.get('rhSleevePreview')?.value" alt="RH Sleeve Artwork Preview" />
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="additionalInfo">Additional Info</label>
          <textarea formControlName="additionalInfo" rows="3" placeholder="Enter additional info"></textarea>
        </div>
        <div class="form-group-tick">
          <div>
            <input type="checkbox" (change)="toggleOrderForm($event)"  />
          </div>
          <div>
            <label>Order Details {{ orderForms.length + 1 }} (tick to expand order form)</label>
          </div>
        </div>
      </div>
      
    </div>
    </div>
    <button (click)="addOrder()" type="submit">Save</button>
  </form>
</main>