<header class="sticky-header">
  <nav>
    <div class="menu-icon" (click)="openMenu()">
      <i class="{{menu_icon}}"></i>
    </div>
    <div class="nav-links" [ngClass]="{'mobile_menu': menuValue}">
      <ul>
        <li><a routerLink="/home" routerLinkActive="active" (click)="closeMenu()">Home</a></li>
        <li><a routerLink="/services" routerLinkActive="active" (click)="closeMenu()">Services</a></li>
        <li><a routerLink="/products/mainProduct" routerLinkActive="active" (click)="closeMenu()">Products</a></li>
        <li><a routerLink="/priceList" routerLinkActive="active" (click)="closeMenu()">PriceList</a></li>
        <li><a routerLink="/howToOrder" routerLinkActive="active" (click)="closeMenu()">How to order</a></li>
        <li><a routerLink="/faq" routerLinkActive="active" (click)="closeMenu()">FAQ</a></li>
        <li class="nav-item dropdown">
          <a href="#" class="dropbtn">Quote</a>
          <div class="dropdown-content">
            <a routerLink="/quote/quickQuote" routerLinkActive="active" (click)="closeMenu()">Quick Quote</a>
            <a routerLink="/quote/detailQuote" routerLinkActive="active" (click)="closeMenu()">Detail Quote</a>
          </div>
        </li>
        <li><a routerLink="/contact" routerLinkActive="active" (click)="closeMenu()">Contact</a></li>
      </ul>
    </div>
  </nav>
</header>
