<footer>
  <div class="container footer-content">
    <div class="footer-section logo-social">
      <img
        src="/assets/public/blueWingsLogo.png"
        alt="Company Logo"
        class="footer-logo"
      />
      <div class="social-media">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-linkedin-in"></i></a>
      </div>
    </div>
    <div class="footer-section">
      <h3>Services</h3>
      <ul>
        <li><a href="#">Custom Embroidery</a></li>
        <li><a href="#">Screen Printing</a></li>
        <li><a href="#">Digital Printing</a></li>
        <li><a href="#">Design Services</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h3>Products</h3>
      <ul>
        <li><a href="#">Hoodies</a></li>
        <li><a href="#">Polos</a></li>
        <li><a href="#">T-Shirts</a></li>
        <li><a href="#">Caps & Hats</a></li>
      </ul>
    </div>
    <a routerLink="/auth/login">Admin?</a>
  </div>
</footer>
